<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saint-Gobain Weber Gate Entry Data</title>
</head>

<body>
    <div>
        <form action="/data/send" method="post">
            <input type="text" name="gateEntryNumber" id="gateEntryNumber" placeholder="Gate Entry Number">
            <input type="text" name="vehicleNumber" id="vehicleNumber" placeholder="Vehicle Number">
            <input type="text" name="party" id="party" placeholder="Party">
            <input type="text" name="transporter" id="transporter" placeholder="Transporter">
            <input type="text" name="driver" id="driver" placeholder="Driver">
            <input type="text" name="driverContactNumber" id="driverContactNumber" placeholder="Driver Contact Number">
            <input type="text" name="vehicleCapacity" id="vehicleCapacity" placeholder="Vehicle Capacity">
            <input type="date" name="pucDate" id="pucDate">
            <input type="text" name="destination" id="destination" placeholder="Destination">
            <input type="text" name="driverLicense" id="driverLicense" placeholder="Driver License">
            <input type="text" name="driverLicenseState" id="driverLicenseState" placeholder="Driver License State">
            <input type="text" name="driverAddress" id="driverAddress" placeholder="Driver Address">

            <input type="submit" value="SUBMIT">

        </form>
    </div>
</body>

</html>